model_config_list: {
config: {
name: "datetime_and_value_hour",
base_path: "/models/datetime_and_value_hour",
model_platform: "tensorflow"
},
config: {
name: "only_value_hour",
base_path: "/models/only_value_hour",
model_platform: "tensorflow"
},
config: {
name: "datetime_and_value_day",
base_path: "/models/datetime_and_value_day",
model_platform: "tensorflow"
},
config: {
name: "only_value_day",
base_path: "/models/only_value_day",
model_platform: "tensorflow"
},
config: {
name: "datetime_and_value_week",
base_path: "/models/datetime_and_value_week",
model_platform: "tensorflow"
},
config: {
name: "only_value_week",
base_path: "/models/only_value_week",
model_platform: "tensorflow"
},
config: {
name: "datetime_and_value_month",
base_path: "/models/datetime_and_value_month",
model_platform: "tensorflow"
},
config: {
name: "only_value_month",
base_path: "/models/only_value_month",
model_platform: "tensorflow"
}
}